SECRET_KEY=your-secret-key
ALGORITHM=HS256

POSTGRES_USER=backend_user
POSTGRES_PASSWORD=1@Tharukesh
POSTGRES_DB=backend_db

DATABASE_URL=postgresql+psycopg://backend_user:1%40Tharukesh@db:5432/backend_db

ALLOWED_ORIGINS=http://localhost:3000